/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "bootstrap";

 /* Font-awesome */
@import "font-awesome-sprockets";
@import "font-awesome";

 body {
  /* Підключаємо шрифт 'Exo 2' з Google Fonts */
  font-family: 'Exo 2', sans-serif;
  /* Розмір шрифту 20px */
  font-size: 20px;
}

 p {
        font-family: 'Caveat', cursive;
        font-size: 24px;
    }

    /* Navbar */
    .navbar {padding-top: 1rem; padding-bottom: 1rem;}
    .navbar-light .navbar-nav .nav-link {color: rgba(0, 0, 0, 0.7);}
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus {color: rgba(0, 0, 0, 1); text-decoration: underline;}
